@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply relative overflow-x-hidden;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45 mb-[1px] mt-[2px];
}

.navbar-fixed {
  @apply fixed z-40 bg-slate-400 bg-opacity-30 transition-all duration-200;
  backdrop-filter: blur(7px);
}

#mobile {
  transform: rotateY(180deg);
}

#a {
  backdrop-filter: blur(10px);
}
